/*
 * _footer-frame.scss
 * SCSS partial including rules for the footer frame
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */

/* set up color scheme */
$footer-color: rgb(255, 255, 255);
$footer-secondary-color: rgb(255, 255, 255);
$footer-emph-color: rgb(0, 0, 0);
$footer-footer-color: rgb(0, 0, 0);
$footer-bg: rgba(67, 190, 135, 1); /* set up background -- can also be an image */

footer {
  @include frame-style($footer-bg, $footer-color, $footer-secondary-color, $footer-emph-color);

  min-height: 240px;
  a, a:hover, a:active { color: $footer-color; }
  font-size: 14px;
  font-weight: 200;

  p {
    font-size: small;
  }

  img.logo {
    height: 100px;
    width: 150px;
    display: block;
  }

}

#mission-statement {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 160%;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.1em;
}

footer .row {
  margin-top: 40px;
  margin-bottom: 40px;
  &.logo {
    padding-bottom: 40px;
  }
}

.sitemap {
  font-size: 14px;
  h3 { font-size: 14px; }

  ul {
    list-style: none outside none;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.sitemap--main {
  text-transform: uppercase;
}

.footer--social {
  ul {
    list-style: none outside none;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    li {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  * a, * img {    // for social media icons & greyout logic
    width: 50px;
    height: 50px;
  }

}

.closing-line {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 110%;
}