/*
 * _sell-frame.scss
 * SCSS partial including rules for the "#sell" frame ('helping budding
 * entrepreneurs') on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */

/* set up color scheme */
$sell-color: rgb(220, 182, 37);
$sell-secondary-color: rgb(255, 255, 255);
$sell-emph-color: rgb(255, 255, 255);
$sell-footer-color: rgb(0, 0, 0);
$sell-bg: rgba(220, 182, 37, 1); /* set background -- can set with image if preferred */

#sell {
 @include frame-style($sell-bg, $sell-color, $sell-secondary-color, $sell-emph-color);
}