/*
 * _sponsors-frame.scss
 * SCSS partial including rules for the "#sponsors" frame on cleanwebOne
 * design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */

/* set up color scheme */
$sponsors-color: rgb(64, 147, 216);
$sponsors-secondary-color: rgb(0, 0, 0);
$sponsors-emph-color: rgb(0, 0, 0);
$sponsors-footer-color: rgb(0, 0, 0);
$sponsors-bg: rgba(248, 248, 248, 1);

.sponsor-grid { 
  h3 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  * .row { 
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

#sponsors { 
  @include frame-style($sponsors-bg, $sponsors-color, $sponsors-emph-color);
  h3 {
  	font-weight: 600;
  }
}