/*
 * _subnav.scss
 * SCSS partial including rules for the sub (black) navbar
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */

/* n.b. $navheight (which is y-height of _main_ navbar) must be set in
 * style.scss _before_ this partial is included!
 */

#subnav {
  min-height: 0;
  background-color: rgba(51, 51, 51, 0.9);
  margin: 0;
  * a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #ffffff;
    background-color: #333333;
    &:hover, &:focus { background: #444444; }
  }
}

#subnav.affix {
  position: fixed;
  top: $navheight;            // must equal height of main nav
  width: 100%;
}

#subnav * > .active {
  a, a:hover, a:focus { 
    text-decoration: underline; 
  }
}

#subnav-wrapper {
  background: rgba(51, 51, 51, 0.9);
}

#subnav * .nav li a {
  padding: 20px 0px;
}
