
body {
  padding-top: 0px;
  font-size: 16px;
  font-family: "Open Sans",serif;
  background: transparent;
}

/* set background per section */
$what-bg: url("img/6133364748_89f2365922_o.jpg") no-repeat center center;
$sell-bg: rgba(220, 182, 37, 1);
$how-bg: rgba(238, 249, 233, 1);
$who-bg: rgba(224, 93, 85, 1);
$where-bg: rgba(178, 209, 255, 1);
$events-bg: rgba(223, 183, 36, 1);
$social-bg: rgba(224, 93, 85, 1);
$sponsors-bg: rgba(248, 248, 248, 1);

/* set color scheme per section */
$what-color: rgb(255, 255, 255);
$what-secondary-color: rgb(80, 80, 80);
$what-emph-color: rgb(86, 196, 149);


$sell-color: rgb(220, 182, 37);
$sell-secondary-color: rgb(80, 80, 80);
$sell-emph-color: rgb(25, 25, 25);


$how-color: rgb(99, 133, 83);
$how-secondary-color: rgb(80, 80, 80);
$how-emph-color: rgb(25, 25, 25);


$who-color: rgb(224, 93, 85);
$who-secondary-color: rgb(80, 80, 80);
$who-emph-color: rgb(25, 25, 25);


$where-color: rgb(46, 120, 217);
$where-secondary-color: rgb(80, 80, 80);
$where-emph-color: rgb(25, 25, 25);


$events-color: rgb(223, 183, 36);
$events-secondary-color: rgb(80, 80, 80);
$events-emph-color: rgb(25, 25, 25);


$social-color: rgb(224, 93, 85);
$social-secondary-color: rgb(80, 80, 80);
$social-emph-color: rgb(25, 25, 25);


$sponsors-color: rgb(224, 93, 85);
$sponsors-secondary-color: rgb(80, 80, 80);
$sponsors-emph-color: rgb(0, 0, 0);

@mixin section-style($background, $primary-color, $secondary-color, $emphasis: #FFFFFF ) {
  background: $background;
  * h1, h2, h3, p { 
    color: $primary-color;
    padding: 20px 20px;
  }
  .secondary, * .secondary { color: $secondary-color; }
  * em {
    color: $emphasis;
    font-style: normal;
  }
}

#what { 
  @include section-style($what-bg, $what-color, $what-secondary-color, $what-emph-color);
  min-height: 610px;
  }
#sell { @include section-style($sell-bg, $sell-color, $sell-secondary-color, $sell-emph-color) }
#how { @include section-style($how-bg, $how-color, $how-secondary-color, $how-emph-color) }
#who { @include section-style($who-bg, $who-color, $who-secondary-color, $who-emph-color) }
#where { @include section-style($where-bg, $where-color, $where-secondary-color, $where-emph-color) }
#events { @include section-style($events-bg, $events-color, $events-secondary-color, $events-emph-color) }
#social { @include section-style($social-bg, $social-color, $social-secondary-color, $social-emph-color) }
// #sponsors { @include section-style($sponsors-bg, $sponsors-color, $sponsors-emph-color) }

#what-subtext { 
  text-align: center;
  h2 { padding-bottom: 40px; }
  .panel-body {
    padding: 0px; 
    margin-top: 180px;
  }
  }

#sponsors {
  background: $sponsors-bg;
  * h2 { color: $sponsors-color; }
  * h3 {
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
  }
}

div.frame {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  &.landing {
    padding-top: 100px;
  }
}

h1 {
  font-family: "Abel", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6  {
  text-transform: uppercase;
}

.right  { text-align: right;  }
.left   { text-align: left;   }
.center { text-align: center; }

.panel {
  border: 0;
  margin-bottom: 0;
  box-shadow: 0 0 0;

  .row { 
    margin-left: 0;
    margin-right: 0;
  }
}

.v-centered {
  display: table;
  height: 172px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px;
  text-align: center;
  h1, h2, h3, h4, p { 
    display: table-cell;
    vertical-align: middle;
  }
}

.row.section-head {
  width: 100%;
  background-color: rgba(127, 127, 127, 0.9); /* Really want this to be diagonal lines */
  margin-left: 0;
  margin-right: 0;
  .container {
    padding: 0;
  }
}

.section-head > * {
  text-align: center;
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px;
}

.section-head * h2 {
  font-size: 14pt;
  padding: 70px 70px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(255,255,255,1);
}

.sponsor-grid {
  margin-top: 150px;
}

.boxy {
  border-radius: 0 0 0 0;
}

#subnav {
  min-height: 0;
  background-color: rgba(51, 51, 51, 0.9);
  margin: 0;
}

#subnav * a {
  font-size: 10px;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

#nav .navbar-collapse ul {
  padding-top: 25px;
  padding-bottom: 25px;
}

#nav .navbar-collapse ul {
  margin-left: 0px;
  margin-right: 0px;
}

#nav div.navbar-collapse {
  background-color: rgba(245, 245, 245, 1);
}

.landing .panel {
  background-color: rgba(50,200,150,0.7);
}

.landing .panel * {
  margin-top: 0;
  font-weight: bold;
}

.landing .panel .header {

}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  text-decoration: underline;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

#subnav.affix {
  position: fixed;
  top: 100px;
  width: 100%;
}


