body {
  padding-top: 0px;
  font-size: 16px;
  font-family: "ff-dagny-web-pro";
  background: transparent; }

/*** VARIABLE SETUP ****/
/* Navbar */
/* set color scheme per frame -- invoked in frame partials 
 * Key: $-color is used in frame header and unmodified text elements
 *      $-secondary-color is used for any text under a .secondary class
 *        (good for when $-color is too close to the background color)
 *      $-emph-color is used to color anything in <em>'s
 */
/*** SUPPORT FILES FOR FRAMES -- includes frame-specific variables internally ***/
/*
 * _landing-frame.scss
 * SCSS partial including rules for the "#landing" (landing) frame on 
 * cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* set up background */
/* n.b. background-size: cover is added later in the mixin invocation */
/* set up color scheme */
#landing {
  background: url("img/mobile-phone-bg.jpg") no-repeat center center;
  color: white;
  min-height: 610px;
  padding-top: 50px;
  background-size: cover; }
  #landing .frame-footer {
    background: black; }
  #landing .secondary, #landing * .secondary {
    color: #56c495; }
  #landing * em {
    color: #56c495; }

#landing-header {
  border-width: 1px;
  border-color: black;
  border-style: solid; }
  #landing-header .row {
    min-height: 200px; }

/* top left landing header text */
#landing * .left * h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.35; }

#landing * .striped {
  background: url("/img/the-white-stripes.png") repeat; }

/* top right landing header text */
#landing * .right * h1 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.35; }

/* landing footer text, before subnav */
#landing-subtext {
  text-align: center;
  background: rgba(0, 0, 0, 0.6); }
  #landing-subtext .panel-body {
    padding: 0px;
    margin-top: 220px;
    min-height: 150px; }
  #landing-subtext * h2 {
    font-size: 22px;
    font-weight: 900;
    line-height: 1.35;
    padding-left: 100px;
    padding-right: 100px; }

.landing .panel {
  background-color: rgba(129, 212, 175, 0.7); }
  .landing .panel * {
    margin-top: 0;
    font-weight: bold; }

/*
 * _what-frame.scss
 * SCSS partial including rules for the "#what" frame ('whiteboard')
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* set up color scheme */
/* set background -- can set with image if preferred */
#what {
  background: #dcb625;
  color: #dcb625; }
  #what .frame-footer {
    background: #ac8e1d; }
  #what .secondary, #what * .secondary {
    color: white; }
  #what * em {
    color: white; }
  #what h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600; }

#whiteboard.container {
  position: relative;
  top: -50px; }
  #whiteboard.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 681px;
    width: 80%; }

/*
 * _how-frame.scss
 * SCSS partial including rules for the "#how" frame (green knobs) on 
 * cleanwebOne design. 
 * 
 * initial creation: 5 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* set up color scheme */
#how {
  background: #eef9e9;
  color: #638553; }
  #how .frame-footer {
    background: #638554; }
  #how .secondary, #how * .secondary {
    color: #505050; }
  #how * em {
    color: #191919; }
  #how .background {
    background: url("img/bg-triangles.png") repeat; }
  #how * img.knob {
    margin-top: 50px;
    margin-bottom: 50px; }

div.knob {
  width: 219px;
  margin-left: auto;
  margin-right: auto; }

.knob-copy {
  text-align: center;
  font-size: 11pt; }

.knob-overlay {
  position: absolute;
  width: 220px;
  height: 200px;
  top: 85px;
  text-align: center;
  color: white; }

#knob-overlay-left {
  margin-top: 15px; }

#knob-overlay-center {
  margin-top: 15px; }

#knob-overlay-right {
  margin-top: 15px; }

/*
 * _who-frame.scss
 * SCSS partial including rules for the "#who" frame (tiled companies)
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* set up background -- can also be an image */
#who {
  background: #e05d55;
  color: #e05d55; }
  #who .frame-footer {
    background: black; }
  #who .secondary, #who * .secondary {
    color: white; }
  #who * em {
    color: #191919; }

.who-grid .row {
  margin: 0; }
  .who-grid .row div {
    min-height: 170px;
    padding: 0; }

.who-matrix {
  display: flex;
  -moz-box-pack: center;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  justify-content: center; }

.who-matrix-item {
  display: inline-block;
  margin: 0 0 0 0;
  width: 170px;
  height: 170px; }

.who-logo {
  width: 170px;
  height: 170px;
  display: inline-block; }

.who-logo--nest {
  background: url("/img/who_nest.jpg") no-repeat center center;
  background-size: cover; }

.who-logo--sungevity {
  background: url("/img/who_sungevity.jpg") no-repeat center center;
  background-size: cover; }

.who-logo--smartercities {
  background: url("/img/who_smartercities.gif") no-repeat center center;
  background-size: cover; }

.who-logo--sidecar {
  background: url("/img/who_sidecar.jpg") no-repeat center center;
  background-size: cover; }

@supports not (flex-wrap: wrap) {
  .who-matrix {
    display: block;
    text-align: center; }
    .who-matrix .who-matrix-item {
      display: inline-block;
      vertical-align: top;
      margin-left: -2px;
      margin-right: -2px; } }
/*
 * _where-frame.scss
 * SCSS partial including rules for the "#where" frame (map)
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* set up color scheme */
/* set up background -- can also be an image */
#where {
  background: #b2d1ff;
  color: #2e78d9; }
  #where .frame-footer {
    background: black; }
  #where .secondary, #where * .secondary {
    color: #505050; }
  #where * em {
    color: #191919; }

/*
 * _events-frame.scss
 * SCSS partial including rules for the "#events" frame (carousel)
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* set up color scheme */
/* set up background -- can also be an image */
#events {
  background: #dfb724;
  color: #dfb724; }
  #events .frame-footer {
    background: black; }
  #events .secondary, #events * .secondary {
    color: #505050; }
  #events * em {
    color: #191919; }

/*
 * _social-frame.scss
 * SCSS partial including rules for the "#social" frame (twitter grid)
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* set up color scheme */
/* set up background -- can also be an image */
#social {
  background: #e05d55;
  color: #e05d55; }
  #social .frame-footer {
    background: black; }
  #social .secondary, #social * .secondary {
    color: #505050; }
  #social * em {
    color: #191919; }

/*
 * _sponsors-frame.scss
 * SCSS partial including rules for the "#sponsors" frame on cleanwebOne
 * design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* set up color scheme */
.sponsor-grid {
  margin-bottom: 60px; }
  .sponsor-grid h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px; }
  .sponsor-grid * .row {
    margin-top: 10px;
    margin-bottom: 10px; }

#sponsors {
  background: #f8f8f8;
  color: #4093d8; }
  #sponsors .frame-footer {
    background: black; }
  #sponsors .secondary, #sponsors * .secondary {
    color: black; }
  #sponsors * em {
    color: white; }
  #sponsors h3 {
    font-weight: 600; }

/*
 * _footer-frame.scss
 * SCSS partial including rules for the footer frame
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* set up color scheme */
/* set up background -- can also be an image */
footer {
  background: #43be87;
  color: white;
  min-height: 240px;
  font-size: 14px;
  font-weight: 200; }
  footer .frame-footer {
    background: black; }
  footer .secondary, footer * .secondary {
    color: white; }
  footer * em {
    color: black; }
  footer a, footer a:hover, footer a:active {
    color: white; }
  footer p {
    font-size: small; }
  footer img.logo {
    height: 100px;
    width: 150px;
    display: block; }

#mission-statement {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 160%;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.1em; }

footer .row {
  margin-top: 40px;
  margin-bottom: 40px; }
  footer .row.logo {
    padding-bottom: 40px; }

.sitemap {
  font-size: 14px; }
  .sitemap h3 {
    font-size: 14px; }
  .sitemap ul {
    list-style: none outside none;
    padding-left: 0px;
    padding-right: 0px; }

.sitemap--main {
  text-transform: uppercase; }

.footer--social ul {
  list-style: none outside none;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center; }
  .footer--social ul li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; }
.footer--social * a, .footer--social * img {
  width: 50px;
  height: 50px; }

.closing-line {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 110%; }

/** /frame support files ***/
/*** SUPPORT FILES FOR NAVBARS ***/
/*
 * _navbar.scss
 * SCSS partial including rules for the main (top) navbar
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* n.b. $navheight must be set in the main style.scss file before inclusion! */
#nav {
  height: 50px; }

.navbar-collapse {
  padding-left: 0;
  padding-right: 0; }

#nav .navbar-collapse ul {
  margin-left: 0px;
  margin-right: 0px; }

#nav div.navbar-collapse {
  background-color: whitesmoke; }

#logo-container {
  background: white;
  height: 50px; }
  #logo-container img.logo, #logo-container * img.logo {
    height: 32px;
    width: 69px;
    display: block;
    margin: 10px 10px; }

/*
 * _subnav.scss
 * SCSS partial including rules for the sub (black) navbar
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */
/* n.b. $navheight (which is y-height of _main_ navbar) must be set in
 * style.scss _before_ this partial is included!
 */
#subnav {
  min-height: 0;
  background-color: rgba(51, 51, 51, 0.9);
  margin: 0; }
  #subnav * a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #ffffff;
    background-color: #333333; }
    #subnav * a:hover, #subnav * a:focus {
      background: #444444; }

#subnav.affix {
  position: fixed;
  top: 50px;
  width: 100%; }

#subnav * > .active a, #subnav * > .active a:hover, #subnav * > .active a:focus {
  text-decoration: underline; }

#subnav-wrapper {
  background: rgba(51, 51, 51, 0.9); }

#subnav * .nav li a {
  padding: 20px 0px; }

/* And that's the mixin game. */
/*** Let's play with fonts! */
h1 {
  font-size: 40px;
  line-height: 1.35; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

/*** End font and text play. */
.frame {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.panel {
  border: 0;
  margin-bottom: 0;
  box-shadow: 0 0 0; }
  .panel .row {
    margin-left: 0;
    margin-right: 0; }

.boxy {
  border-radius: 0 0 0 0; }

.v-centered {
  display: table;
  height: 172px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px; }
  .v-centered h1, .v-centered h2, .v-centered h3, .v-centered h4, .v-centered p {
    display: table-cell;
    vertical-align: middle; }

.row.frame-head {
  width: 100%;
  margin-left: 0;
  margin-right: 0; }
  .row.frame-head .container {
    padding: 0; }
  .row.frame-head.frame-head--internal {
    background: url("/img/the-black-stripes.png") repeat; }
  .row.frame-head.frame-head--background {
    background: white; }

.frame-head > * {
  text-align: center;
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px; }

.frame-head * h2 {
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  font-weight: 300; }

.frame-footer {
  min-height: 110px;
  width: 100%; }
  .frame-footer button.join {
    margin-top: 35px;
    font-weight: 600;
    font-size: 14pt;
    color: #666666; }

/*** for b+w fade effect ***/
.bwWrapper {
  position: relative;
  display: block; }

canvas.BWfade {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  height: inherit;
  width: inherit; }

/*** end b+w fade effect formatting ***/
