
body {
  padding-top: 0px;
  font-size: 16px;
  font-family: "Open Sans",serif;
  background: transparent;
}

/* set background per section */
$what-bg: url("img/6133364748_89f2365922_o.jpg") no-repeat center center;
$sell-bg: rgba(220, 182, 37, 1);
$how-bg: rgba(238, 249, 233, 1);
$who-bg: rgba(224, 93, 85, 1);
$where-bg: rgba(178, 209, 255, 1);
$events-bg: rgba(223, 183, 36, 1);
$social-bg: rgba(224, 93, 85, 1);
$sponsors-bg: rgba(248, 248, 248, 1);

/* keep this for convenient copy and paste ***
what
sell
how
who
where
events
social
sponsors
*** */

/* set color scheme per section */
// $what-color: rgba();
// $sell-color: rgba();
// $how-color: rgba();
// $who-color: rgba();
// $where-color: rgba();
// $events-color: rgba();
// $social-color: rgba();
$sponsors-color: rgba(224, 93, 85, 1);

#what {
  background: $what-bg;
}

#sell {
  background: $sell-bg;
}

#how {
  background: $how-bg;
}

#who {
  background: $who-bg;
}

#where {
  background: $where-bg;
}

#events {
  background: $events-bg;
}

#social {
  background: $social-bg;
}

#sponsors {
  background: $sponsors-bg;
  * h2 { color: $sponsors-color; }
  * h3 {
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
  }
}

div.frame {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  &.landing {
    padding-top: 100px;
  }
}

h1 {
  font-family: "Abel", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6  {
  text-transform: uppercase;
}

.panel * h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.landing * {
  color: #FFFFFF;
}

.panel {
  border: 0;
  margin-bottom: 0;
  box-shadow: 0 0 0;

  .row { 
    margin-left: 0;
    margin-right: 0;
  }
}

.row.section-head {
  width: 100%;
  background-color: rgba(127, 127, 127, 0.9); /* Really want this to be diagonal lines */
  margin-left: 0;
  margin-right: 0;
}

.section-head > * {
  text-align: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.section-head * h2 {
  font-size: 14pt;
  padding: 70px 70px;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 172px;
  background-color: rgba(255,255,255,1);
}

.sponsor-grid {
  margin-top: 150px;
}

.margin-base-vertical { margin: 40px 0; }

.boxy {
  border-radius: 0 0 0 0;
}

#subnav {
  min-height: 0;
  background-color: rgba(51, 51, 51, 0.9);
}

nav#subnav.navbar div ul li a {
  font-size: 10px;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

html body#main header#header nav#nav.navbar div.navbar-collapse ul.nav {
  padding-top: 25px;
  padding-bottom: 25px;
}

html body#main header#header nav#nav.navbar div.navbar-collapse ul.nav {
  margin-left: 0px;
  margin-right: 0px;
}

#nav div.navbar-collapse {
  background-color: rgba(245, 245, 245, 1);
}

.landing .panel {
  background-color: rgba(50,200,150,0.7);
}

.landing .panel * {
  margin-top: 0;
  font-weight: bold;
}

.landing .panel .header {

}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  text-decoration: underline;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

#subnav.affix {
  position: fixed;
  top: 100px;
  width: 100%;
}


