
body {
  padding-top: 0px;
  font-size: 16px;
  font-family: "ff-dagny-web-pro";
  background: transparent;
}

/*** Support files for frames at bottom ***/


/*** VARIABLE SETUP ****/

/* Navbar */
$navheight: 50px;    // If this changes, there's changes in the HTML too! search for 'main nav'

/* set background per section -- can be either color or image */
$what-bg: url("img/mobile-phone-bg.jpg") no-repeat center center;
$sell-bg: rgba(220, 182, 37, 1);

$who-bg: rgba(224, 93, 85, 1);
$where-bg: rgba(178, 209, 255, 1);
$events-bg: rgba(223, 183, 36, 1);
$social-bg: rgba(224, 93, 85, 1);
$sponsors-bg: rgba(248, 248, 248, 1);
$footer-bg: rgba(67, 190, 135, 1);

/* set color scheme per section *
 * Key: $-color is used in section header and unmodified text elements
 *      $-secondary-color is used for any text under a .secondary class
 *        (good for when $-color is too close to the background color)
 *      $-emph-color is used to color anything in <em>'s
 */

$what-color: rgb(255, 255, 255);
$what-secondary-color: rgb(86, 196, 149);
$what-emph-color: rgb(86, 196, 149);
$what-footer-color: rgb(0, 0, 0);

$sell-color: rgb(220, 182, 37);
$sell-secondary-color: rgb(255, 255, 255);
$sell-emph-color: rgb(255, 255, 255);
$sell-footer-color: rgb(0, 0, 0);

$how-bg: rgba(238, 249, 233, 1);
$how-color: rgb(99, 133, 83);
$how-secondary-color: rgb(80, 80, 80);
$how-emph-color: rgb(25, 25, 25);
$how-footer-color: rgb(99, 133, 84);

$who-color: rgb(224, 93, 85);
$who-secondary-color: rgb(255, 255, 255);
$who-emph-color: rgb(25, 25, 25);
$who-footer-color: rgb(0, 0, 0);

$where-color: rgb(46, 120, 217);
$where-secondary-color: rgb(80, 80, 80);
$where-emph-color: rgb(25, 25, 25);
$where-footer-color: rgb(0, 0, 0);

$events-color: rgb(223, 183, 36);
$events-secondary-color: rgb(80, 80, 80);
$events-emph-color: rgb(25, 25, 25);
$events-footer-color: rgb(0, 0, 0);

$social-color: rgb(224, 93, 85);
$social-secondary-color: rgb(80, 80, 80);
$social-emph-color: rgb(25, 25, 25);
$social-footer-color: rgb(0, 0, 0);

$sponsors-color: rgb(224, 93, 85);
$sponsors-secondary-color: rgb(0, 0, 0);
$sponsors-emph-color: rgb(0, 0, 0);
$sponsors-footer-color: rgb(0, 0, 0);

$footer-color: rgb(255, 255, 255);
$footer-secondary-color: rgb(255, 255, 255);
$footer-emph-color: rgb(0, 0, 0);
$footer-footer-color: rgb(0, 0, 0);


@mixin section-style($background, $primary-color, $secondary-color, $emphasis: #FFFFFF, $footer-color: #000000 ) {
  background: $background;
  color: $primary-color;
  .section-footer { background: $footer-color; }
  .secondary, * .secondary { color: $secondary-color; }
  * em { color: $emphasis; }
}

/* Section variables are all set up, so plug into that mixin there! **/
#what { 
  @include section-style($what-bg, $what-color, $what-secondary-color, $what-emph-color);
  min-height: 610px;
  background-size: 100%;
  }
#sell {
 @include section-style($sell-bg, $sell-color, $sell-secondary-color, $sell-emph-color);
}

#who { @include section-style($who-bg, $who-color, $who-secondary-color, $who-emph-color) }
#where { @include section-style($where-bg, $where-color, $where-secondary-color, $where-emph-color) }
#events { @include section-style($events-bg, $events-color, $events-secondary-color, $events-emph-color) }
#social { @include section-style($social-bg, $social-color, $social-secondary-color, $social-emph-color) }
#sponsors { 
  @include section-style($sponsors-bg, $sponsors-color, $sponsors-emph-color);

  }
footer {
  @include section-style($footer-bg, $footer-color, $footer-secondary-color, $footer-emph-color);
  min-height: 240px;
  p {
    font-size: small;
    a, a#hover, a#active { color: $footer-color; }
  }
}

/*** SUPPORT FILES FOR FRAMES ***/
@import "how-frame";

/** /frame support files ***/

/* And that's the mixin game. */

/*** Let's play with fonts! */

h1 {
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6  {
  text-transform: uppercase;
}

$lineheighthere: 1.35;
/* top left landing header text */
html.wf-ffdagnywebpro-i2-active body#main div#what.landing div.panel div.row div.col-sm-6 div.row div.col-sm-10.left div.v-centered h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: $lineheighthere;
}

/* top right landing header text */
html.wf-ffdagnywebpro-i2-active body#main div#what.landing div.panel div.row div.col-sm-6 div.row div.col-sm-10.right div.v-centered h1 {
  font-size: 26px;
  font-weight: 900;
  line-height: $lineheighthere;
}

/* landing footer text, before subnav */
html.wf-ffdagnywebpro-i2-active body#main div#what.landing div.container div.row div.col-sm-10 div#what-subtext.panel div.panel-body div.v-centered h2 {
  font-size: 22px;
  font-weight: 900;
  line-height: $lineheighthere;
}


/*** End font and text play. */


#what-subtext { 
  text-align: center;
  // h2 { padding-bottom: 40px; }
  .panel-body {
    padding: 0px; 
    margin-top: 220px;
    min-height: 150px;
  }
  background: rgba(0,0,0,0.6);
}

.landing .panel {
  background-color: rgba(129,212,175,0.7);  // this is a TOTAL PAIN IN THE ASS because the designer wants blend-multiply
  * {
    margin-top: 0;
    font-weight: bold;
  }
}

#what-header {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

html.wf-ffdagnywebpro-i2-active body#main div#what.landing div.container div.row div.col-sm-10 div#what-subtext.panel div.panel-body div.v-centered h2 {
  padding-left: 100px;
  padding-right: 100px;
}

.frame {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  &.landing {
    padding-top: $navheight;      // must equal height of main nav
  }
}


.right  { text-align: right;  }
.left   { text-align: left;   }
.center { text-align: center; }

.panel {
  border: 0;
  margin-bottom: 0;
  box-shadow: 0 0 0;

  .row { 
    margin-left: 0;
    margin-right: 0;
  }
}

.v-centered {
  display: table;
  height: 172px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px;
  h1, h2, h3, h4, p { 
    display: table-cell;
    vertical-align: middle;
  }
}

.row.section-head {
  width: 100%;
  background-color: rgba(127, 127, 127, 0.9); /* Really want this to be diagonal lines */
  margin-left: 0;
  margin-right: 0;
  .container {
    padding: 0;
  }
}

.section-head > * {
  text-align: center;
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px;
}

.section-head * h2 {
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(255,255,255,1);
}

.sponsor-grid {
  margin-top: 150px;
}

.boxy {
  border-radius: 0 0 0 0;
}

/* ALL THINGS NAVBAR ********/
#nav {
  height: $navheight;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

#nav .navbar-collapse ul {
  // padding-top: 25px;     // uncomment if increasing navbar size
  // padding-bottom: 25px;  // uncomment if increasing navbar size
}

#nav .navbar-collapse ul {
  margin-left: 0px;
  margin-right: 0px;
}

#nav div.navbar-collapse {
  background-color: rgba(245, 245, 245, 1);
}

$logo-height: (64px/2);
$logo-width:  (138px/2);

#logo-container {
  img.logo {
    height: $logo-height;
    width: $logo-width;
    display: block;
    margin: 10px 10px;
  }
  background: white;
  height: $navheight;

}

/* ALL THINGS SUB-NAVBAR *****/

#subnav {
  min-height: 0;
  background-color: rgba(51, 51, 51, 0.9);
  margin: 0;
}

#subnav * a {
  font-size: 10px;
  color: #ffffff;
}

#subnav.affix {
  position: fixed;
  top: $navheight;            // must equal height of main nav
  width: 100%;
}

#subnav * > .active {
  a, a:hover, a:focus { text-decoration: underline; }
}

#subnav-wrapper {
  background: rgba(51, 51, 51, 0.9);
}

/* END NAVBAR SECTION ****/

footer img.logo {
  height: 100px;
  width: 150px;
  display: block;
}

.section-footer {
  min-height: 110px;
  width: 100%;
  button.join {
    width: 100%;
    margin-top: 35px;
    font-weight: 600;
    font-size: 14pt;
    color: rgb(102, 102, 102);
  }
}


