body {
  padding-top: 0px;
  font-size: 16px;
  font-family: "ff-dagny-web-pro";
  background: transparent; }

/*** Support files for frames at bottom ***/
/*** VARIABLE SETUP ****/
/* Navbar */
/* set background per section -- can be either color or image */
/* set color scheme per section *
 * Key: $-color is used in section header and unmodified text elements
 *      $-secondary-color is used for any text under a .secondary class
 *        (good for when $-color is too close to the background color)
 *      $-emph-color is used to color anything in <em>'s
 */
/* Section variables are all set up, so plug into that mixin there! **/
#what {
  background: url("img/mobile-phone-bg.jpg") no-repeat center center;
  color: white;
  min-height: 610px;
  background-size: 100%; }
  #what .section-footer {
    background: black; }
  #what .secondary, #what * .secondary {
    color: #56c495; }
  #what * em {
    color: #56c495; }

#sell {
  background: #dcb625;
  color: #dcb625; }
  #sell .section-footer {
    background: black; }
  #sell .secondary, #sell * .secondary {
    color: white; }
  #sell * em {
    color: white; }

#who {
  background: #e05d55;
  color: #e05d55; }
  #who .section-footer {
    background: black; }
  #who .secondary, #who * .secondary {
    color: white; }
  #who * em {
    color: #191919; }

#where {
  background: #b2d1ff;
  color: #2e78d9; }
  #where .section-footer {
    background: black; }
  #where .secondary, #where * .secondary {
    color: #505050; }
  #where * em {
    color: #191919; }

#events {
  background: #dfb724;
  color: #dfb724; }
  #events .section-footer {
    background: black; }
  #events .secondary, #events * .secondary {
    color: #505050; }
  #events * em {
    color: #191919; }

#social {
  background: #e05d55;
  color: #e05d55; }
  #social .section-footer {
    background: black; }
  #social .secondary, #social * .secondary {
    color: #505050; }
  #social * em {
    color: #191919; }

#sponsors {
  background: #f8f8f8;
  color: #e05d55; }
  #sponsors .section-footer {
    background: black; }
  #sponsors .secondary, #sponsors * .secondary {
    color: black; }
  #sponsors * em {
    color: white; }

footer {
  background: #43be87;
  color: white;
  min-height: 240px; }
  footer .section-footer {
    background: black; }
  footer .secondary, footer * .secondary {
    color: white; }
  footer * em {
    color: black; }
  footer p {
    font-size: small; }
    footer p a, footer p a#hover, footer p a#active {
      color: white; }

/*** SUPPORT FILES FOR FRAMES ***/
#how {
  background: #eef9e9;
  color: #638553; }
  #how .section-footer {
    background: #638554; }
  #how .secondary, #how * .secondary {
    color: #505050; }
  #how * em {
    color: #191919; }
  #how .background {
    background: url("img/bg-triangles.png") repeat; }
  #how * img.knob {
    margin-top: 50px;
    margin-bottom: 50px; }

.knob-copy {
  text-align: center;
  font-size: 11pt; }

.knob-overlay {
  position: absolute;
  width: 220px;
  height: 200px;
  top: 85px;
  text-align: center;
  color: white; }

#knob-overlay-left {
  margin-top: 15px; }

#knob-overlay-center {
  margin-top: 15px; }

#knob-overlay-right {
  margin-top: 15px; }

/** /frame support files ***/
/* And that's the mixin game. */
/*** Let's play with fonts! */
h1 {
  font-size: 40px; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

/* top left landing header text */
html.wf-ffdagnywebpro-i2-active body#main div#what.landing div.panel div.row div.col-sm-6 div.row div.col-sm-10.left div.v-centered h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.35; }

/* top right landing header text */
html.wf-ffdagnywebpro-i2-active body#main div#what.landing div.panel div.row div.col-sm-6 div.row div.col-sm-10.right div.v-centered h1 {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.35; }

/* landing footer text, before subnav */
html.wf-ffdagnywebpro-i2-active body#main div#what.landing div.container div.row div.col-sm-10 div#what-subtext.panel div.panel-body div.v-centered h2 {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.35; }

/*** End font and text play. */
#what-subtext {
  text-align: center;
  background: rgba(0, 0, 0, 0.6); }
  #what-subtext .panel-body {
    padding: 0px;
    margin-top: 220px;
    min-height: 150px; }

.landing .panel {
  background-color: rgba(129, 212, 175, 0.7); }
  .landing .panel * {
    margin-top: 0;
    font-weight: bold; }

#what-header {
  border-width: 1px;
  border-color: black;
  border-style: solid; }

html.wf-ffdagnywebpro-i2-active body#main div#what.landing div.container div.row div.col-sm-10 div#what-subtext.panel div.panel-body div.v-centered h2 {
  padding-left: 100px;
  padding-right: 100px; }

.frame {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }
  .frame.landing {
    padding-top: 50px; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.panel {
  border: 0;
  margin-bottom: 0;
  box-shadow: 0 0 0; }
  .panel .row {
    margin-left: 0;
    margin-right: 0; }

.v-centered {
  display: table;
  height: 172px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px; }
  .v-centered h1, .v-centered h2, .v-centered h3, .v-centered h4, .v-centered p {
    display: table-cell;
    vertical-align: middle; }

.row.section-head {
  width: 100%;
  background-color: rgba(127, 127, 127, 0.9);
  /* Really want this to be diagonal lines */
  margin-left: 0;
  margin-right: 0; }
  .row.section-head .container {
    padding: 0; }

.section-head > * {
  text-align: center;
  height: 172px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px; }

.section-head * h2 {
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white; }

.sponsor-grid {
  margin-top: 150px; }

.boxy {
  border-radius: 0 0 0 0; }

/* ALL THINGS NAVBAR ********/
#nav {
  height: 50px; }

.navbar-collapse {
  padding-left: 0;
  padding-right: 0; }

#nav .navbar-collapse ul {
  margin-left: 0px;
  margin-right: 0px; }

#nav div.navbar-collapse {
  background-color: whitesmoke; }

#logo-container {
  background: white;
  height: 50px; }
  #logo-container img.logo {
    height: 32px;
    width: 69px;
    display: block;
    margin: 10px 10px; }

/* ALL THINGS SUB-NAVBAR *****/
#subnav {
  min-height: 0;
  background-color: rgba(51, 51, 51, 0.9);
  margin: 0; }

#subnav * a {
  font-size: 10px;
  color: #ffffff; }

#subnav.affix {
  position: fixed;
  top: 50px;
  width: 100%; }

#subnav * > .active a, #subnav * > .active a:hover, #subnav * > .active a:focus {
  text-decoration: underline; }

#subnav-wrapper {
  background: rgba(51, 51, 51, 0.9); }

/* END NAVBAR SECTION ****/
footer img.logo {
  height: 100px;
  width: 150px;
  display: block; }

.section-footer {
  min-height: 110px;
  width: 100%; }
  .section-footer button.join {
    width: 100%;
    margin-top: 35px;
    font-weight: 600;
    font-size: 14pt;
    color: #666666; }
