/* _page partial
 * 
 * styles for semi-static, undated pages (ie. about, events, etc)
 * (basically not blog posts)
 */

section.pages {
  @extend .container;

  // Drop the text-transform we enforced on landing
  // yes this is a bit messy
  h2 { text-transform: none; }
}

div.page.content {
  @extend .col-md-10;
  @extend .col-md-offset-1;
}

// For the profile images/titles
.profile {
  @extend .col-md-2;
  img { width: 90%; }
}

.name {
  font-weight: bold;
}

// this is specifically for the About page; pull in separately?
.about {
  .cleanweb-what-outer { @extend .col-md-4 }
  .cleanweb-what-inner {
    @extend .center;

    padding: 20px;
    background-color: #efefef;
    color: #666;
    border: dashed 1px #666;
    .copy { font-size: 12px; }
  }

  .row { margin: 0px -15px; }

  .sponsors img {
    margin: 20px;
  }
}

// ditto this for communities...
.communities {
  .row { margin: 15px -15px; }
}