/*
 * _what-frame.scss
 * SCSS partial including rules for the "#what" frame ('whiteboard')
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */

/* set up color scheme */
$what-color: rgb(220, 182, 37);
$what-secondary-color: rgb(255, 255, 255);
$what-emph-color: rgb(255, 255, 255);
$what-footer-color: rgb(172, 142, 29);
$what-bg: rgba(220, 182, 37, 1); /* set background -- can set with image if preferred */

#what {
 @include frame-style($what-bg, $what-color, $what-secondary-color, $what-emph-color, $what-footer-color);
 h1 {
 	text-align: center;
 	font-size: 28px;
 	font-weight: 600;
 }
}

#whiteboard.container {
	position: relative;
	top: -50px;
	img {
		display: block;				// horizontally center the whiteboard image
		margin-left: auto;			// within this container. n.b. max-width
		margin-right: auto;			// here is the actual image width; adjust
		max-width: 681px;			// accordingly if ever necessary.
		width: 80%;
	}
}

#slidedeck_container {
  iframe {
    display: block;
    border: 0;
  }
  display: block;
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}