/*
 * _where-frame.scss
 * SCSS partial including rules for the "#where" frame (map)
 * on cleanwebOne design. 
 * 
 * initial creation: 6 Oct 2013 dylan@dylanfitzgerald.net
 *
 */

/* set up color scheme */
$where-color: rgb(46, 120, 217);
$where-secondary-color: rgb(255, 255, 255);
$where-emph-color: rgb(25, 25, 25);
$where-footer-color: rgb(46, 120, 217);
$where-bg: rgba(178, 209, 255, 1); /* set up background -- can also be an image */

#where { @include frame-style($where-bg, $where-color, $where-secondary-color, $where-emph-color, $where-footer-color) }

#map {
  min-height: 600px;
}

.map-more-info {
	text-align: center;
	h3 {
		font-size: 10pt;
    font-weight: 600;
    color: $where-secondary-color;
    margin: 5px 10px;
    padding: 0 0;
	}
  &.panel {
    background: rgba(0,0,0,0.4);
    padding: 5px;
  }
}

.map-overlay-container {
   padding-top: 30px;
}

.btn--more-info {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11pt;
}