.container
  / Sponsor grid
  .row.sponsor-grid
    .col-supporters.col-supporters--leadership.col-sm-6.col-md-5.col-md-offset-1.col-lg-5.col-lg-offset-1
      / LEADERSHIP level
      .row
        .col-md-12
          %h3 Leadership
      .row
        .col-sm-6
          %a.bwWrapper{:href => "http://www.facebook.com", :target => "_new", :title => "Facebook"}
            %img{:alt => "Facebook", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-Facebook.png"}/
        .col-sm-6
          %a.bwWrapper{:height => "46px", :href => "http://www.rockportcap.com", :target => "_new", :title => "RockPort Capital", :width => "168px"}
            %img{:alt => "Rockport Capital", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-RockportCapital.gif"}/
      .row
        .col-sm-6
          %a.bwWrapper{:height => "62px", :href => "http://www.terravp.com", :target => "_new", :title => "TERRA Venture Partners", :width => "168px"}
            %img{:alt => "TERRA Venture Partners", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-TerraVenturePartners.jpg"}/
        .col-sm-6
          %a.bwWrapper{:height => "109px", :href => "http://www.blackcoralcapital.com", :target => "_new", :title => "Black Coral Capital", :width => "121px"}
            %img{:alt => "Black Coral Capital", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-BlackCoralCapital.png"}/
      .row
        .col-sm-4
          %a.bwWrapper{:height => "103px", :href => "http://www.cleanskies.org", :target => "_new", :title => "American Clean Skies", :width => "104px"}
            %img{:alt => "American Clean Skies", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-AmericanCleanSkiesFoundation.png"}/
        .col-sm-4
          %a.bwWrapper{:height => "103px", :href => "http://www.greenstart.com", :target => "_new", :title => "Greenstart", :width => "94px"}
            %img{:alt => "Greenstart", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-Greenstart.png"}/
        .col-sm-4
          %a.bwWrapper{:height => "65", :href => "https://www.yerdle.com/", :target => "_new", :title => "Yerdle", :width => "87"}
            %img{:alt => "yerdle", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-yerdle.jpg"}/
      .row
        .col-sm-6
          %a.bwWrapper{:height => "75px", :href => "http://www.mdv.com", :target => "_new", :title => "Mohr Davidow", :width => "129px"}
            %img{:alt => "Mohr Davidow", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-MohrDavidow.png"}/
        .col-sm-6
          %a.bwWrapper{:height => "42px", :href => "http://www.sungevity.com/", :target => "_new", :title => "Sungevity", :width => "168px"}
            %img{:alt => "Sungevity", :height => "42px", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-Sungevity.gif", :width => "168px"}/
    / /LEADERSHIP level
    .col-supporters.col-supporters--partnership.col-sm-5.col-sm-offset-1.col-md-4.col-md-offset-1
      / PARTNERSHIP level
      .row
        .col-md-12
          %h3 Partnership
      .row
        .col-sm-6
          %a.bwWrapper{:height => "90", :href => "http://energy.gov", :target => "_new", :title => "US Department of Energy", :width => "90"}
            %img{:alt => "US Department of Energy", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-DoE.jpg"}/
        .col-sm-6
          %a.bwWrapper{:height => "87", :href => "http://sxsweco.com", :target => "_new", :title => "SXSW Eco", :width => "140"}
            %img{:alt => "SXSW Eco", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-SXSW-Eco.jpg"}/
      .row
        .col-sm-8.col-sm-offset-2
          %a.bwWrapper{:height => "24", :href => "http://theclimategroup.org", :target => "_new", :title => "The Climate Group", :width => "215"}
            %img{:alt => "The Climate Group", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-ClimateGroup.gif"}/
      .row
        .col-sm-4.col-sm-push-1
          %a.bwWrapper{:height => "57", :href => "http://c40cities.org", :target => "_new", :title => "C40 Cities", :width => "73"}
            %img{:alt => "C40 Cities", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-C40.gif"}/
        .col-sm-4.col-sm-push-2
          %a.bwWrapper{:height => "85", :href => "http://www.whitehouse.gov/administration/eop/ostp", :target => "_new", :title => "Office of Science and Technology Policy", :width => "85"}
            %img{:alt => "Office of Scienc and Technology Policy", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-POTUS.gif"}/
      .row
        .col-sm-4.col-sm-push-1
          %a.bwWrapper{:height => "65", :href => "http://nyc.gov", :target => "_new", :title => "NYC.gov", :width => "76"}
            %img{:alt => "NYC.gov", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-NYCgov.gif"}/
        .col-sm-4.col-sm-push-2
          %a.bwWrapper{:height => "86", :href => "http://subsite.kk.dk/sitecore/content/Subsites/CityOfCopenhagen/SubsiteFrontpage.aspx?element=header", :target => "_new", :title => "City of Copenhagen", :width => "67"}
            %img{:alt => "City of Copenhagen", :src => "<?php echo get_stylesheet_directory_uri(); ?>/img/supporters/Supporter-CityOfCopenhagen.png"}/
    / /PARTNERSHIP level
/ /CONTAINER for Sponsor Grid
