.about
  .center
    %img.CleanwebC.logo{:alt => "", :height => "41", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Cleanweb-C.png", :width => "34"}>/
    %h2 The Cleanweb is a meme, a movement, a market, and a living, viral phenomenon - and perhaps the biggest impact and economic opportunity of our time.
    %a.btn.btn-large.btn-default.orange{:href => "/join"} Make an impact

  %hr/

  .row
    .col-md-4
      %img.border{:alt => "Small Cleanweb logo", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/AboutCleanweb.png", :width => "100%"}/
    .col-md-8
      %h3 What is the Cleanweb?

      %p The revolutionary growth in mobile, social, sensors, processing power, big data analytics, and other information technologies is creating powerful new opportunities to address the world's critical resource challenges. 
        
      %p Individuals and organizations around the world are leveraging this web of technologies in incredibly innovative ways to optimize how we use resources across the way we live, work, and play. 

      %p Capital efficient, quick-to-market, IT-based solutions are already helping to drive smarter, more efficient energy use, enable the sharing economy, accelerate the adoption of clean technologies, and spread more sustainable behaviors globally. And just as information technology itself, the Cleanweb will continue to evolve in ways we can't even imagine yet. 

      %p The Cleanweb is a meme, a movement, a market, and a living, viral phenomenon - and perhaps the biggest impact and economic opportunity of our time.

  %h3 What is the Cleanweb Initiative?

  %p
    We are a member-driven organization composed of developers, entrepreneurs, investors, and enterprises large and small who believe that the growing web of information technologies may be our most powerful - and profitable - tool to improve global sustainability, economic prosperity, and human well being.

  .row
    .cleanweb-what-outer
      .cleanweb-what-inner
        %img{:alt => "", :height => "37", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Icon-Intelligence.png", :width => "41"}/
        %p.name Intelligence
        %p.copy
          Providing insight and analysis to educate and inspire the Cleanweb community

    .cleanweb-what-outer
      .cleanweb-what-inner
        %img{:alt => "", :height => "37", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Icon-Network.png", :width => "41"}/
        %p.name Network
        %p.copy
          Creating a connected global community to foster innovation and commercialization

    .cleanweb-what-outer
      .cleanweb-what-inner
        %img{:alt => "", :height => "37", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Icon-Events.png", :width => "41"}/
        %p.name Events
        %p.copy
          Bringing the Cleanweb community to drive new solutions and advance knowledge

  %h4 Who are we?
  %h5 Core Team
  .row
    .profile
      %img{:alt => "Blake Burris", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/BlakeBurris.jpg"}/
      .name Blake Burris
      .Title ceo &amp; hacktivist
      .Twitter
        %a{:href => "http://www.twitter.com/blakeburris", :target => "_blank"} @blakeburris
    .profile
      %img{:alt => "Chris George", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/ChrisGeorge.jpg"}/
      .name Chris George
      .Title community &amp; growth
      .Twitter
        %a{:href => "http://www.twitter.com/cscottgeorge", :target => "_blank"} @cscottgeorge

  %h5 Leadership Council
  .row
    .profile
      %img{:alt => "Rob Day", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/RobDay.jpg"}/
      .name Rob Day
      .Title Black Coral Capital
      .Twitter
        %a{:href => "http://www.twitter.com/cleantechvc", :target => "_blank"} @cleantechvc
    .profile
      %img{:alt => "Josh Green", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/JoshGreen.jpg"}/
      .name Josh Green
      .Title MDV
    .profile
      %img{:alt => "Danny Kennedy", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/DannyKennedy.jpg"}/
      .name Danny Kennedy
      .Title Sungevity
      .Twitter
        %a{:href => "http://www.twitter.com/dannyksfun", :target => "_blank"} @dannyksfun
    .profile
      %img{:alt => "Jonathan Koomey", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/JonathanKoomey.jpg"}/
      .name Jonathan Koomey
      .Title Steyer-Taylor Center for Energy Policy and Finance, Stanford University
      .Twitter
        %a{:href => "http://www.twitter.com/jgkoomey", :target => "_blank"} @jgkoomey

  .row
    .profile
      %img{:alt => "Dhiraj Malkani", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/DhirajMalkani.jpg"}/
      .name Dhiraj Malkani
      .Title Rockport Capital
      .Twitter
        %a{:href => "http://www.twitter.com/dmalkani", :target => "_blank"} @dmalkani
    .profile
      %img{:alt => "Andy Ruben", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/AndyRuben.jpg"}/
      .name Andy Ruben
      .Title yerdle
      .Twitter
        %a{:href => "http://www.twitter.com/yerdle", :target => "_blank"} @yerdle
    .profile
      %img{:alt => "Robert G. O'Connor", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/RobertOConnor.jpg"}/
      .name Robert G. O'Connor
      .Title Wilson Sonsini Goodrich &amp; Rosati

  %h5 Board of Directors
  .row
    .profile
      %img{:alt => "Blake Burris", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/BlakeBurris.jpg"}/
      .name Blake Burris
      .Title ceo &amp; hacktivist
      .Twitter
        %a{:href => "http://www.twitter.com/blakeburris", :target => "_blank"} @blakeburris
    .profile
      %img{:alt => "Sunil Paul", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/SunilPaul.jpg"}/
      .name Sunil Paul
      .Title CEO Sidecar
      .Twitter
        %a{:href => "http://www.twitter.com/sunilpaul", :target => "_blank"} @sunilpaul
    .profile
      %img{:alt => "Bill Weihl", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/headshots/BillWeihl.jpg"}/
      .name Bill Weihl
      .Title sustainability guru, facebook
      .Twitter
        %a{:href => "http://www.facebook.com/green", :target => "_blank"} facebook.com/green

  %h4 Who are our supporters?
  .sponsors-homepage
    .center.sponsors
      %a{:href => "http://www.facebook.com", :target => "_blank"}
        %img.wzumeejmhtdcayxwpibj{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-Facebook.png"}
      %a{:href => "http://www.rockportcap.com", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-RockportCapital.gif"}
      %a{:href => "http://www.sungevity.com/", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-Sungevity.gif"}
      %a{:href => "http://www.terravp.com", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-TerraVenturePartners.jpg"}/
      %a{:href => "http://www.wsgr.com", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-WilsonSonsiniGoodrich.jpg"}/
      %a{:href => "http://www.mdv.com", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter_MohrDavidow.png"}/
      %a{:href => "http://www.blackcoralcapital.com", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-BlackCoralCapital.png"}/
      %a{:href => "http://www.cleanskies.org/", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-AmericanCleanSkiesFoundation.png"}/
      %a{:href => "http://greenstart.com", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-Greenstart.png"}/
      %a{:href => "http://www.hodgsonruss.com/", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-HodgsonRuss.jpg"}/
      %a{:href => "http://www.mintz.com/", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-MintzLevin.jpg"}/
      %a{:href => "http://utilities.simpleenergy.com/", :target => "_blank"}
        %img{:alt => "", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Supporter-SimpleEnergy.jpg"}/
