%h3 SPONSORING APIs
%br/
.row
  .col-sm-4
    %img{:src => "http://cleanweb.co/wp-content/uploads/2012/09/api_tendril.png"}/
    %br/

    %a{:href => "http://www.twitter.com/tendrilapi", :title => "twitter"} @tendrilapi
    Create unique applications that monitor and control user data and devices with
    %a{:href => "http://www.tendrilinc.com/"} Tendril
    Tendril is the Energy Platform company, delivering end-to-end consumer engagement products, applications and services powered by
    %a{:href => "http://www.tendrilinc.com/platform/connect/"} Tendril Connect
    \- an open, secure and scalable platform that takes the complexity out of the Energy Internet and creates a dialogue between energy service providers and their customers.

    Documentation:
    %a{:href => "http://dev.tendrilinc.com/"} http://dev.tendrilinc.com

  .col-sm-4
    %img{:src => "http://cleanweb.co/wp-content/uploads/2012/09/api_genability.png"}/
    %br/
    %a{:href => "http://www.twitter.com/genabilityapi", :title => "twitter"} @genabilityapi
    Get detailed and accurate information about your power costs with
    = succeed "." do
      %a{:href => "http://www.genability.com/"} Genability
    Genability has assembled a database of electricity pricing information from over 3500 electricity providers throughout North America. Genability is putting this data in the hands of electricity consumers and companies that assist them, to help everyone make more informed choices about when to use, store and sell electricity.

    Documentation:
    %a{:href => "https://developer.genability.com/"} https://developer.genability.com

  .col-sm-4
    %img{:src => "http://cleanweb.co/wp-content/uploads/2012/09/api_brighterplanet.png"}/
    %br/
    %a{:href => "http://www.twitter.com/brighterplanet", :title => "twitter"} @brighterplanet
    Empower your customers, engage your employees, and inform your executives with a numbers-driven, data-centric approach to corporate sustainability.
    %a{:href => "http://brighterplanet.com/"} Brighter Planet's
    technology platform powers commercial programs, apps, and tools that build brands, save companies money, and uncover sustainability opportunities in the most surprising places.

    Documentation:
    %a{:href => "http://impact.brighterplanet.com/documentation/"} http://impact.brighterplanet.com/documentation

.row
  .col-sm-4
    %img{:src => "http://cleanweb.co/wp-content/uploads/2012/09/api_csrhub.png"}/
    %br/
    %a{:href => "http://www.twitter.com/csrhub", :title => "twitter"} @csrhub
    %a{:href => "http://www.csrhub.com"} CSRHUB
    has sustainability and corporate social responsibility (CSR) ratings on around 5,000 of the world’s largest publicly traded companies. Benchmark companies, compare corporate social responsibility ratings for ~5,000 companies from 65 countries and 135 industries, and understand environmental, social, and governance performance.

    Documentation:
    %a{:href => "http://www.csrhub.com/CleanWebNYC2012"} http://www.csrhub.com/CleanWebNYC2012

  .col-sm-4
    %img{:src => "http://cleanweb.co/wp-content/uploads/2012/09/api_3scale.png"}/
    %br/
    %a{:href => "http://www.twitter.com/3scale", :title => "twitter"} @3scale
    %a{:href => "http://www.3scale.net/"} 3scale
    provides a flexible, secure and scalable Infrastructure as a Service for your API or Web Service to control, manage and monetize the distribution of your data, content or services to multiple devices or mobile/web applications.

    Documentation:
    %a{:href => "http://www.3scale.net/support/how-to-connect/"} http://www.3scale.net/support/how-to-connect/

  .col-sm-4
    %img{:src => "http://cleanweb.co/wp-content/uploads/2012/09/api_amee.png"}/
    %br/
    %a{:href => "http://www.twitter.com/ameedev", :title => "twitter"} @ameedev
    %a{:href => "http://www.amee.com/"} AMEE
    helps businesses distill environmental data into meaningful intelligence. Whether you want to calculate the carbon cost of your global supply chain or create a custom app to track water usage, AMEE’s accurate data and agile infrastructure deliver insights that translate to business results.

    Documentation:
    %a{:href => "http://www.amee.com/developer/docs/index.php"} http://www.amee.com/developer/docs/index.php

%hr/

%h4 FREE CLEANWEB APIs
%br/

.row
  .col-sm-3
    %h5 OpenEI
    %a{:href => "http://en.openei.org/wiki/Main_Page"} OpenEI
    is a knowledge sharing online community dedicated to connecting people with the latest information and data on energy resources from around the world.

  .col-sm-3
    %h5 PVWatts
    NREL's
    %a{:href => "http://developer.nrel.gov/doc/api/georeserv/app/sam/pvwatts"} PVWatts
    calculates the energy production and cost savings of grid-connected photovoltaic (PV) energy systems. This service estimates the performance of hypothetical residential and small commercial PV installations.

  .col-sm-3
    %h5 Carbon Calculated
    %a{:href => "http://api-docs.carboncalculated.com/"} Carbon Calculated
    is an open platform of carbon data, and carbon and energy management software solutions for CRC, EU-ETS, ISO14064 &amp; CDP.

  .col-sm-3
    %h5 Total Grid
    %a{:href => "http://www.totalgrid.org/"} Total Grid
    is an open source community dedicated to modernizing national power systems and microgrids while driving the development of the Smart Grid.

.row
  .col-sm-3
    %h5 WattzOn Rebates Center
    WattzOn's
    %a{:href => "http://www1.wattzon.com/api/documentation"} Rebates Center API
    lets you look up lookup rebates for any US zipcode.

  .col-sm-3
    %h5 GoodGuide
    %a{:href => "http://developer.goodguide.com/docs"} GoodGuide
    helps you find safe, healthy, green &amp; ethical products based on scientific ratings.

  .col-sm-3
    %h5 Alternative Fuel Stations
    Query NREL's database of
    %a{:href => "http://developer.nrel.gov/doc/alt-fuel-stations-v1"} Alternative Fuel Stations

%hr/
%h4 PAID/EVALUATION ONLY CLEANWEB APIs
%br/

.row
  .col-sm-3
    %h5 EnergyIQ
    Lawrence Berkeley Laboratory's
    %a{:href => "http://energyiq.lbl.gov/"} EnergyIQ
    is an action-oriented benchmarking tool for non-residential buildings.

  .col-sm-3
    %h5 Home Energy Saver
    Lawrence Berkeley Laboratory's
    %a{:href => "https://developers.buildingsapi.lbl.gov/hes/hes-home"} Home Energy Saver
    provide customized estimates of residential energy use, energy bills, and greenhouse-gas emissions.

  .col-sm-3
    %h5 Home Energy Scoring Tool
    Lawrence Berkeley Laboratory's
    %a{:href => "https://developers.buildingsapi.lbl.gov/hest/hest-home"} Home Energy Scoring Tool
    provides an "asset rating" of a home's energy use under standardized occupancy and operational conditions.
