Below is a list of datasets that can get you contributed by friends and sponsors for use in building your apps. While there are no restrictions on public or private datasets which can be used, we think the following compilation is a great place to start. Don’t forget to take a look a the list of APIs as well.

If you have or know of other pertinent datasets, please let us know, and we'll post them here.

\&nbsp;

[col size='3/16' pos='first']
%h5 CATEGORY
%hr{:size => "1"}/
[/col]

[col size='3/16']
%h5 ORGANIZATION
%hr{:size => "1"}/
[/col]

[col size='4/16']
%h5 DESCRIPTION
%hr{:size => "1"}/
[/col]

[col size='6/16' pos='last']
%h5 URL
%hr{:size => "1"}/
[/col]

[col size='3/16' pos='first']

Agriculture

[/col]

[col size='3/16']

eLeaf

[/col]

[col size='4/16']

Demo data sets for vegetation, water and CO2 intake

[/col]

[col size='6/16' pos='last']
%a{:href => "http://demo.eleaf.info/eleafchina"} http://demo.eleaf.info/eleafchina
%a{:href => "http://demo.eleaf.info/eleafindia"} http://demo.eleaf.info/eleafindia
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Data.gov

[/col]

[col size='4/16']

Dataset on water in US

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.data.gov/communities/node/48/data_tools/5380"} http://www.data.gov/communities/node/48/data_tools/5380
[/col]

[col size='3/16' pos='first']
%hr{:size => "1"}/
Demographic

[/col]

[col size='3/16']
%hr{:size => "1"}/
Data.gov

[/col]

[col size='4/16']
%hr{:size => "1"}/
AGI and wage income by state

[/col]

[col size='6/16' pos='last']
%hr{:size => "1"}/
%a{:href => "http://explore.data.gov/Population/AGI-Wage-Income-By-State-in-2007/fqkh-g4cx"} http://explore.data.gov/Population/AGI-Wage-Income-By-State-in-2007/fqkh-g4cx
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Data.gov

[/col]

[col size='4/16']

API to return demographics by coordinates

[/col]

[col size='6/16' pos='last']
%a{:href => "http://explore.data.gov/Information-and-Communications/Demographics-API-by-Coordinates/jya9-8j2b"} http://explore.data.gov/Information-and-Communications/Demographics-API-by-Coordinates/jya9-8j2b
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Microsoft Azure

[/col]

[col size='4/16']

Demographics datasets

[/col]

[col size='6/16' pos='last']
%a{:href => "https://datamarket.azure.com/browse/Data?Category=demographics&amp;Price=Free&amp;Page=1"} https://datamarket.azure.com/browse/Data?Category=demographics&amp;Price=Free&amp;Page=1
[/col]

[col size='3/16' pos='first']
%hr{:size => "1"}/
Energy

[/col]

[col size='3/16']
%hr{:size => "1"}/
Genability

[/col]

[col size='4/16']
%hr{:size => "1"}/
Real-time, accurate and comprehensive electricity pricing, NA-wide (residential and C&amp;I)

[/col]

[col size='6/16' pos='last']
%hr{:size => "1"}/
%a{:href => "http://developer.genability.com"} http://developer.genability.com
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Tendril

[/col]

[col size='4/16']

Residential energy usage and cost, price programs, device control and messages

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.tendrilinc.com/developers"} http://www.tendrilinc.com/developers
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

infochimps

[/col]

[col size='4/16']

Commercial Buildings Energy Consumption Survey

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.infochimps.com/datasets/commercial-buildings-energy-consumption-and-expenditures-2003"} http://www.infochimps.com/datasets/commercial-buildings-energy-consumption-and-expenditures-2003
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Data.gov

[/col]

[col size='4/16']

State level energyuse by major economic sectors, energy production and and State-level energy price and expenditure data.

[/col]

[col size='6/16' pos='last']
%a{:href => "http://explore.data.gov/Energy-and-Utilities/State-Energy-Data-System-SEDS-/9sbe-he8g"} http://explore.data.gov/Energy-and-Utilities/State-Energy-Data-System-SEDS-/9sbe-he8g
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Electricity generation by State by type of generation, by producer

[/col]

[col size='6/16' pos='last']
%a{:href => "http://explore.data.gov/Energy-and-Utilities/Electricity-Generation-by-State-by-Type-of-Produce/rhyi-ndfk"} http://explore.data.gov/Energy-and-Utilities/Electricity-Generation-by-State-by-Type-of-Produce/rhyi-ndfk
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

RPI.edu

[/col]

[col size='4/16']

Linked Government energy datasets

[/col]

[col size='6/16' pos='last']
%a{:href => "http://logd.tw.rpi.edu/demo/us_open_government_dataset_catalog_serach"} http://logd.tw.rpi.edu/demo/us_open_government_dataset_catalog_serach
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Openei.org

[/col]

[col size='4/16']

Energy datasets

[/col]

[col size='6/16' pos='last']
%a{:href => "http://en.openei.org/datasets/"} http://en.openei.org/datasets/
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Commercial Building Energy profile

[/col]

[col size='6/16' pos='last']
%a{:href => "http://en.openei.org/datasets/node/41"} http://en.openei.org/datasets/node/41
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

California ISO

[/col]

[col size='4/16']

California on-grid renewables

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.caiso.com/green/renewableswatch.html"} http://www.caiso.com/green/renewableswatch.html
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Various utilities

[/col]

[col size='4/16']

Load profile data

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.pge.com/nots/rates/tariffs/energy_use_prices.shtml"} http://www.pge.com/nots/rates/tariffs/energy_use_prices.shtml
%a{:href => "http://www.sce.com/aboutsce/regulatory/loadprofiles/loadprofiles.htm"} http://www.sce.com/aboutsce/regulatory/loadprofiles/loadprofiles.htm
%a{:href => "https://supplier.bge.com/LoadProfiles_EnergySettlement/historicalloaddata.htm"} https://supplier.bge.com/LoadProfiles_EnergySettlement/historicalloaddata.htm
%a{:href => "http://www.psnh.com/Templates/Content.aspx?id=4294968798"} http://www.psnh.com/Templates/Content.aspx?id=4294968798
[/col]

[col size='3/16' pos='first']
%hr{:size => "1"}/
Environmental

[/col]

[col size='3/16']
%hr{:size => "1"}/
Infochimps

[/col]

[col size='4/16']
%hr{:size => "1"}/
Industry Revenues and Employment

[/col]

[col size='6/16' pos='last']
%hr{:size => "1"}/
%a{:href => "http://www.infochimps.com/datasets/environmental-industry-revenues-and-employment-by-industry-segme"} http://www.infochimps.com/datasets/environmental-industry-revenues-and-employment-by-industry-segme
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Spills Number and Volume data

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.infochimps.com/datasets/oil-spills-in-us-water-number-and-volume-2000-to-2004"} http://www.infochimps.com/datasets/oil-spills-in-us-water-number-and-volume-2000-to-2004
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Federal funding for Brownfields

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.infochimps.com/datasets/federal-funding-for-the-superfund-brownfields"} http://www.infochimps.com/datasets/federal-funding-for-the-superfund-brownfields
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Data.gov

[/col]

[col size='4/16']

eGRID is a comprehensive source of data on the environmental characteristics of almost all electric power generated in the US

[/col]

[col size='6/16' pos='last']
%a{:href => "http://explore.data.gov/Energy-and-Utilities/Emissions-Generation-Resource-Integrated-Database-/yxt4-abei"} http://explore.data.gov/Energy-and-Utilities/Emissions-Generation-Resource-Integrated-Database-/yxt4-abei
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

eGRID documentation

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.epa.gov/cleanenergy/energy-resources/egrid/index.html"} http://www.epa.gov/cleanenergy/energy-resources/egrid/index.html
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Environmental performance index

[/col]

[col size='4/16']

Country-level environmental indicators from Yale.

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.epi.yale.edu/downloads"} http://www.epi.yale.edu/downloads
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

EPA

[/col]

[col size='4/16']

EPA US datasets

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.epa.gov/developer/datasets.html"} http://www.epa.gov/developer/datasets.html
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Microsoft Azure

[/col]

[col size='4/16']

Environmental datasets

[/col]

[col size='6/16' pos='last']
%a{:href => "https://datamarket.azure.com/browse/Data?Category=weather&amp;Price=Free"} https://datamarket.azure.com/browse/Data?Category=weather&amp;Price=Free
[/col]

[col size='3/16' pos='first']
%hr{:size => "1"}/
Geolocation

[/col]

[col size='3/16']
%hr{:size => "1"}/
Microsoft Azure

[/col]

[col size='4/16']
%hr{:size => "1"}/
Real Estate datasets

[/col]

[col size='6/16' pos='last']
%hr{:size => "1"}/
%a{:href => "https://datamarket.azure.com/browse/Data?Category=realestate&amp;Price=Free"} https://datamarket.azure.com/browse/Data?Category=realestate&amp;Price=Free
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Data.gov

[/col]

[col size='4/16']

Population density in 2020

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.data.gov/geodata/g847508/"} http://www.data.gov/geodata/g847508/
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Geodata catalog

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.data.gov/catalog/geodata"} http://www.data.gov/catalog/geodata
[/col]

[col size='3/16' pos='first']
%hr{:size => "1"}/
General

[/col]

[col size='3/16']
%hr{:size => "1"}/
Data.gov

[/col]

[col size='4/16']
%hr{:size => "1"}/
US govt datasets

[/col]

[col size='6/16' pos='last']
%hr{:size => "1"}/
%a{:href => "http://data.gov"} http://data.gov
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

UK government

[/col]

[col size='4/16']

UK govt datasets

[/col]

[col size='6/16' pos='last']
%a{:href => "http://data.gov.uk/data"} http://data.gov.uk/data
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

ELCD

[/col]

[col size='4/16']

EU Lifecycle analysis for materials, data, transport and waste

[/col]

[col size='6/16' pos='last']
%a{:href => "http://lca.jrc.ec.europa.eu/lcainfohub/datasetArea.vm"} http://lca.jrc.ec.europa.eu/lcainfohub/datasetArea.vm
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Europe’s public data

[/col]

[col size='4/16']

Public datasets

[/col]

[col size='6/16' pos='last']
%a{:href => "http://publicdata.eu/"} http://publicdata.eu/
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

AWS

[/col]

[col size='4/16']

80 years of weather data

[/col]

[col size='6/16' pos='last']
%a{:href => "http://aws.amazon.com/datasets/2759"} http://aws.amazon.com/datasets/2759
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Pachube

[/col]

[col size='4/16']

RealTime wiring for internet of things

[/col]

[col size='6/16' pos='last']
%a{:href => "https://pachube.com/"} https://pachube.com/
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Microsoft Azure

[/col]

[col size='4/16']

Wolfram Alpha – Query engine

[/col]

[col size='6/16' pos='last']
%a{:href => "https://datamarket.azure.com/dataset/aec04387-0110-4f27-8766-faa70a8f75c0"} https://datamarket.azure.com/dataset/aec04387-0110-4f27-8766-faa70a8f75c0
[/col]

[col size='3/16' pos='first']
%hr{:size => "1"}/
Sustainability

[/col]

[col size='3/16']
%hr{:size => "1"}/
CSRHub

[/col]

[col size='4/16']
%hr{:size => "1"}/
API

[/col]

[col size='6/16' pos='last']
%hr{:size => "1"}/
%a{:href => "http://www.csrhub.com/content/api-methods"} http://www.csrhub.com/content/api-methods
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Data sample

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.csrhub.com/subscription_sample"} http://www.csrhub.com/subscription_sample
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Widget sample

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.csrhub.com/content/sustainability-rating-widget"} http://www.csrhub.com/content/sustainability-rating-widget
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

TRUCost

[/col]

[col size='4/16']

Environmental impact data

[/col]

[col size='6/16' pos='last']
%a{:href => "https://github.com/GreenHackathon/Trucost-data"} https://github.com/GreenHackathon/Trucost-data
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

USC Sustainability

[/col]

[col size='4/16']

Energy Dashboard

[/col]

[col size='6/16' pos='last']
%a{:href => "http://web01.perillonworkspace.com/QvJava/opendash.htm?document=usc/HiResDashboard.qvw"} http://web01.perillonworkspace.com/QvJava/opendash.htm?document=usc/HiResDashboard.qvw
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Username

[/col]

[col size='6/16' pos='last']

perillonworkspace.comgreenusc

[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Password

[/col]

[col size='6/16' pos='last']

Energy123

[/col]

[col size='3/16' pos='first']
%hr{:size => "1"}/
Transportation

[/col]

[col size='3/16']
%hr{:size => "1"}/
SFPark

[/col]

[col size='4/16']
%hr{:size => "1"}/
Real time parking availability and pricing API

[/col]

[col size='6/16' pos='last']
%hr{:size => "1"}/
%a{:href => "http://www.datasf.org/story.php?title=sfpark-real-time-parking-availability-and-pricing-api"} http://www.datasf.org/story.php?title=sfpark-real-time-parking-availability-and-pricing-api
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Google maps Bike and Walk directions API

[/col]

[col size='4/16']

Documentation

[/col]

[col size='6/16' pos='last']
%a{:href => "https://code.google.com/intl/xx-elmer/apis/maps/documentation/directions/#TravelModes"} https://code.google.com/intl/xx-elmer/apis/maps/documentation/directions/#TravelModes
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

Data.gov

[/col]

[col size='4/16']

Green Vehicle Guide provides vehicle ratings based on emissions and fuel economy.

[/col]

[col size='6/16' pos='last']
%a{:href => "http://explore.data.gov/Transportation/Green-Vehicle-Guide-Data-Downloads/9un4-5bz7"} http://explore.data.gov/Transportation/Green-Vehicle-Guide-Data-Downloads/9un4-5bz7
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Highway statistics – miles traveled, trip length, drivers and vehicles

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.fhwa.dot.gov/policyinformation/statistics/2009/"} http://www.fhwa.dot.gov/policyinformation/statistics/2009/
[/col]

[col size='3/16' pos='first']

[/col]

[col size='3/16']

[/col]

[col size='4/16']

Amtrak stations

[/col]

[col size='6/16' pos='last']
%a{:href => "http://www.data.gov/geodata/g602108/"} http://www.data.gov/geodata/g602108/
[/col]
