Below is a list of datasets that can get you contributed by friends and sponsors for use in building your apps. While there are no restrictions on public or private datasets which can be used, we think the following compilation is a great place to start. Don’t forget to take a look a the list of APIs as well.

If you have or know of other pertinent datasets, please let us know, and we'll post them here.

%table
  %thead
    %tr
      %td Category
      %td Organization
      %td Description
      %td URL
  %tbody
    %tr
      %td Agriculture
      %td eLeaf
      %td Demo data sets for vegetation, water and CO2 intake
      %td 
        %a{:href => "http://demo.eleaf.info/eleafchina"} http://demo.eleaf.info/eleafchina
        %a{:href => "http://demo.eleaf.info/eleafindia"} http://demo.eleaf.info/eleafindia
    %tr
      %td
      %td Data.gov
      %td Dataset on water in US
      %td
        %a{:href => "http://www.data.gov/communities/node/48/data_tools/5380"} http://www.data.gov/communities/node/48/data_tools/5380
    %tr
      %td Demographic
      %td Data.gov
      %td AGI and wage income by state
      %td
        %a{:href => "http://explore.data.gov/Population/AGI-Wage-Income-By-State-in-2007/fqkh-g4cx"} http://explore.data.gov/Population/AGI-Wage-Income-By-State-in-2007/fqkh-g4cx
    %tr
      %td
      %td Data.gov
      %td API to return demographics by coordinates
      %td 
        %a{:href => "http://explore.data.gov/Information-and-Communications/Demographics-API-by-Coordinates/jya9-8j2b"} http://explore.data.gov/Information-and-Communications/Demographics-API-by-Coordinates/jya9-8j2b
    %tr
      %td
      %td Microsoft Azure
      %td Demographics datasets
      %td
        %a{:href => "https://datamarket.azure.com/browse/Data?Category=demographics&amp;Price=Free&amp;Page=1"} https://datamarket.azure.com/browse/Data?Category=demographics&amp;Price=Free&amp;Page=1
    %tr
      %td Energy
      %td Genability
      %td Real-time, accurate and comprehensive electricity pricing, NA-wide (residential and C&amp;I)
      %td 
        %a{:href => "http://developer.genability.com"} http://developer.genability.com
    %tr
      %td 
      %td Tendril
      %td Residential energy usage and cost, price programs, device control and messages
      %td 
        %a{:href => "http://www.tendrilinc.com/developers"} http://www.tendrilinc.com/developers
    %tr
      %td 
      %td infochimps
      %td Commercial Buildings Energy Consumption Survey
      %td 
        %a{:href => "http://www.infochimps.com/datasets/commercial-buildings-energy-consumption-and-expenditures-2003"} http://www.infochimps.com/datasets/commercial-buildings-energy-consumption-and-expenditures-2003
    %tr
      %td 
      %td Data.gov
      %td State level energyuse by major economic sectors, energy production and and State-level energy price and expenditure data.
      %td 
        %a{:href => "http://explore.data.gov/Energy-and-Utilities/State-Energy-Data-System-SEDS-/9sbe-he8g"} http://explore.data.gov/Energy-and-Utilities/State-Energy-Data-System-SEDS-/9sbe-he8g
    %tr
      %td 
      %td Data.gov
      %td Electricity generation by State by type of generation, by producer
      %td 
        %a{:href => "http://explore.data.gov/Energy-and-Utilities/Electricity-Generation-by-State-by-Type-of-Produce/rhyi-ndfk"} http://explore.data.gov/Energy-and-Utilities/Electricity-Generation-by-State-by-Type-of-Produce/rhyi-ndfk
    %tr
      %td 
      %td RPI.edu
      %td Linked Government energy datasets
      %td 
        %a{:href => "http://logd.tw.rpi.edu/demo/us_open_government_dataset_catalog_serach"} http://logd.tw.rpi.edu/demo/us_open_government_dataset_catalog_serach
    %tr
      %td 
      %td Openei.org
      %td Energy datasets
      %td 
        %a{:href => "http://en.openei.org/datasets/"} http://en.openei.org/datasets/
    %tr
      %td 
      %td 
      %td Commercial Building Energy profile
      %td 
        %a{:href => "http://en.openei.org/datasets/node/41"} http://en.openei.org/datasets/node/41
    %tr
      %td 
      %td California ISO
      %td California on-grid renewables
      %td 
        %a{:href => "http://www.caiso.com/green/renewableswatch.html"} http://www.caiso.com/green/renewableswatch.html
    %tr
      %td 
      %td Various Utilities
      %td Load profile data
      %td 
        %a{:href => "http://www.pge.com/nots/rates/tariffs/energy_use_prices.shtml"} http://www.pge.com/nots/rates/tariffs/energy_use_prices.shtml
        %a{:href => "http://www.sce.com/aboutsce/regulatory/loadprofiles/loadprofiles.htm"} http://www.sce.com/aboutsce/regulatory/loadprofiles/loadprofiles.htm
        %a{:href => "https://supplier.bge.com/LoadProfiles_EnergySettlement/historicalloaddata.htm"} https://supplier.bge.com/LoadProfiles_EnergySettlement/historicalloaddata.htm
        %a{:href => "http://www.psnh.com/Templates/Content.aspx?id=4294968798"} http://www.psnh.com/Templates/Content.aspx?id=4294968798
    %tr
      %td Environmental
      %td Infochimps
      %td Industry Revenues and Employment
      %td 
        %a{:href => "http://www.infochimps.com/datasets/environmental-industry-revenues-and-employment-by-industry-segme"} http://www.infochimps.com/datasets/environmental-industry-revenues-and-employment-by-industry-segme
    %tr
      %td 
      %td 
      %td Spills Number and Volume data
      %td 
        %a{:href => "http://www.infochimps.com/datasets/oil-spills-in-us-water-number-and-volume-2000-to-2004"} http://www.infochimps.com/datasets/oil-spills-in-us-water-number-and-volume-2000-to-2004
    %tr
      %td 
      %td 
      %td Federal funding for Brownfields
      %td 
        %a{:href => "http://www.infochimps.com/datasets/federal-funding-for-the-superfund-brownfields"} http://www.infochimps.com/datasets/federal-funding-for-the-superfund-brownfields
    %tr
      %td 
      %td Data.gov
      %td eGRID is a comprehensive source of data on the environmental characteristics of almost all electric power generated in the US
      %td 
        %a{:href => "http://explore.data.gov/Energy-and-Utilities/Emissions-Generation-Resource-Integrated-Database-/yxt4-abei"} http://explore.data.gov/Energy-and-Utilities/Emissions-Generation-Resource-Integrated-Database-/yxt4-abei
    %tr
      %td 
      %td 
      %td eGRID documentation
      %td 
        %a{:href => "http://www.epa.gov/cleanenergy/energy-resources/egrid/index.html"} http://www.epa.gov/cleanenergy/energy-resources/egrid/index.html
    %tr
      %td 
      %td Environmental performance index
      %td Country-level environmental indicators from Yale.
      %td 
        %a{:href => "http://www.epi.yale.edu/downloads"} http://www.epi.yale.edu/downloads
    %tr
      %td 
      %td EPA
      %td EPA US datasets
      %td 
        %a{:href => "http://www.epa.gov/developer/datasets.html"} http://www.epa.gov/developer/datasets.html
    %tr
      %td 
      %td Microsoft Azure
      %td Environmental datasets
      %td 
        %a{:href => "https://datamarket.azure.com/browse/Data?Category=weather&amp;Price=Free"} https://datamarket.azure.com/browse/Data?Category=weather&amp;Price=Free
    %tr
      %td Geolocation
      %td Microsoft Azure
      %td Real Estate datasets
      %td 
        %a{:href => "https://datamarket.azure.com/browse/Data?Category=realestate&amp;Price=Free"} https://datamarket.azure.com/browse/Data?Category=realestate&amp;Price=Free
    %tr
      %td 
      %td Data.gov
      %td Population density in 2020
      %td 
        %a{:href => "http://www.data.gov/geodata/g847508/"} http://www.data.gov/geodata/g847508/
    %tr
      %td 
      %td 
      %td Geodata catalog
      %td 
        %a{:href => "http://www.data.gov/catalog/geodata"} http://www.data.gov/catalog/geodata
    %tr
      %td General
      %td Data.gov
      %td US govt datasets
      %td 
        %a{:href => "http://data.gov"} http://data.gov
    %tr
      %td 
      %td UK government
      %td UK govt datasets
      %td 
        %a{:href => "http://data.gov.uk/data"} http://data.gov.uk/data
    %tr
      %td 
      %td ELCD
      %td EU Lifecycle analysis for materials, data, transport and waste
      %td    
        %a{:href => "http://lca.jrc.ec.europa.eu/lcainfohub/datasetArea.vm"} http://lca.jrc.ec.europa.eu/lcainfohub/datasetArea.vm 
    %tr
      %td 
      %td Europe's public data
      %td Public datasets
      %td 
        %a{:href => "http://publicdata.eu/"} http://publicdata.eu/
    %tr
      %td 
      %td AWs
      %td 80 years of weather data
      %td 
        %a{:href => "http://aws.amazon.com/datasets/2759"} http://aws.amazon.com/datasets/2759
    %tr
      %td 
      %td Pachube
      %td RealTime wiring for internet of things
      %td 
        %a{:href => "https://pachube.com/"} https://pachube.com/
    %tr
      %td 
      %td Microsoft Azure
      %td Wolfram Alpha – Query engine
      %td 
        %a{:href => "https://datamarket.azure.com/dataset/aec04387-0110-4f27-8766-faa70a8f75c0"} https://datamarket.azure.com/dataset/aec04387-0110-4f27-8766-faa70a8f75c0
    %tr
      %td Sustainability
      %td CSRHub
      %td API
      %td 
        %a{:href => "http://www.csrhub.com/content/api-methods"} http://www.csrhub.com/content/api-methods
    %tr
      %td 
      %td 
      %td Data sample
      %td 
        %a{:href => "http://www.csrhub.com/subscription_sample"} http://www.csrhub.com/subscription_sample
    %tr
      %td 
      %td 
      %td Widget sample
      %td 
        %a{:href => "http://www.csrhub.com/content/sustainability-rating-widget"} http://www.csrhub.com/content/sustainability-rating-widget
    %tr
      %td 
      %td TRUCost
      %td Environmental impact data
      %td 
        %a{:href => "https://github.com/GreenHackathon/Trucost-data"} https://github.com/GreenHackathon/Trucost-data
    %tr
      %td 
      %td USC Sustainability
      %td Energy Dashboard
      %td 
        %a{:href => "http://web01.perillonworkspace.com/QvJava/opendash.htm?document=usc/HiResDashboard.qvw"} http://web01.perillonworkspace.com/QvJava/opendash.htm?document=usc/HiResDashboard.qvw
        %p Username: perillonworkspace.comgreenusc
        %p Password: Energy123
    %tr
      %td Transportation
      %td SFPark
      %td Real time parking availability and pricing API
      %td 
        %a{:href => "http://www.datasf.org/story.php?title=sfpark-real-time-parking-availability-and-pricing-api"} http://www.datasf.org/story.php?title=sfpark-real-time-parking-availability-and-pricing-api
    %tr
      %td 
      %td Google Maps
      %td Bike and Walk directions API Documentation
      %td 
        %a{:href => "https://code.google.com/intl/xx-elmer/apis/maps/documentation/directions/#TravelModes"} https://code.google.com/intl/xx-elmer/apis/maps/documentation/directions/#TravelModes
    %tr
      %td 
      %td Data.gov
      %td Green Vehicle Guide provides vehicle ratings based on emissions and fuel economy.
      %td 
        %a{:href => "http://explore.data.gov/Transportation/Green-Vehicle-Guide-Data-Downloads/9un4-5bz7"} http://explore.data.gov/Transportation/Green-Vehicle-Guide-Data-Downloads/9un4-5bz7
    %tr
      %td 
      %td 
      %td Highway statistics – miles traveled, trip length, drivers and vehicles
      %td 
        %a{:href => "http://www.fhwa.dot.gov/policyinformation/statistics/2009/"} http://www.fhwa.dot.gov/policyinformation/statistics/2009/
    %tr
      %td 
      %td 
      %td Amtrak stations
      %td 
        %a{:href => "http://www.data.gov/geodata/g602108/"} http://www.data.gov/geodata/g602108/
