%section.join
  .center
    %img.CleanwebC{:height => "41", :alt => "small Cleanweb logo", :src => "http://cleanweb.co/wp-content/themes/immersedcleanweb/images/Cleanweb-C.png", :width => "34"}
    %h2 Join the Cleanweb
    %p.intro We envision a world where the cleanweb is a primary driver of global sustainability, economic growth, and human well-being.

  %hr/

  %section#about-culture
    %aside.culture

  .row
    %p.name Individual Memberships
    %p Are you a developer, designer, marketer, maker or entrepreneur looking to apply your talents to solving important resource issues?
    .center
      %a.btn.btn-default.orange{:role => "button", :href => "/member-join"} Join Now
  .row
    %p.name Corporate Memberships
    %p We offer membership packages to companies interested in tapping into the open-innovation potential of our community members around the world.
    .center
      %a.btn.btn-default.orange{:role => "button", :href => "/corporate-membership"} Join Now

  %br.clear/

  .row
    %p.name CollabFinder Community
    %p Connect with others interested in #Cleanweb using CollabFinder
    .center
      %a.btn.btn-default.orange{:role => "button", :href => "http://collabfinder.com/groups/the-cleanweb-initiative"} Connect on CollabFinder

  %br.clear/

  %img{:alt => "Media featuring The Cleanweb Initiative", :src => "http://cleanweb.co/wp-content/uploads/2012/08/media.png"}
