.live
  .start-houston
    %p.caption
      Cleanweb Demo Day at
      %a{:href => "http://www.starthouston.com", |
         :target => "_blank"}                    |
        START Houston
      (August 2013)

    .presentation      
      %iframe{allowfullscreen: '',                            |
              src: "//www.youtube.com/embed/ETem91S9-1o"}     |

    .presentation
      %iframe{allowfullscreen: '',                            |
              src: "//www.youtube.com/embed/3Y0WqqEaUBo"}     |

    .presentation
      %iframe{allowfullscreen: '',                            |
              src: "//www.youtube.com/embed/DxwjqNU_OgA"}     |

    .presentation
      %iframe{allowfullscreen: '',                            |
              src: "//www.youtube.com/embed/AZn0Ql9vAsQ"}     |

    .presentation
      %iframe{allowfullscreen: '',                            |
              src: "//www.youtube.com/embed/aggWxBQGgNs"}     |

    .presentation
      %iframe{allowfullscreen: '',                            |
              src: "//www.youtube.com/embed/8BBM2-ppFI8"}     |

    .presentation
      %iframe{allowfullscreen: '',                            |
              src: "//www.youtube.com/embed/LmIB9fwV9tc"}     |
    
  .presentation
    %p.caption Cleanweb's Blake Burris and Blue Phoenix's John Licata #FutureEnergy Hangout
    %iframe{allowfullscreen: '',                              |
            src: "//www.youtube.com/embed/l6NEWYw5ZwI"}       |

  .presentation
    %p.caption Nicholas Eisenberger speaking at TechFutures on June 18, 2013
    %iframe{allowfullscreen: '',                              |
            style: "width: 560px;",                           |
            src: "//www.youtube.com/embed/0RqFuPN3c-E?rel=0"} |

  .presentation
    %p.caption NYC Big Apps Cleanweb Organizing Team Hangout
    %iframe{allowfullscreen: '',                              |
            src: "//www.youtube.com/embed/a3F2vptopTg"}       |    

  .presentation
    %p.caption Cleanweb Branding Hangout
    %iframe{allowfullscreen: '',                              |
            src: "//www.youtube.com/embed/l8NLLrOcdX0"}       |    
