.live

  .presentation
    %p.caption
      Cleanweb Demo Day at
      %a{:href => "http://www.starthouston.com", |
         :target => "_blank"}                    |
        START Houston
      (August 2013)
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed?v=ETem91S9-1o"}       |

  .presentation
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed?v=3Y0WqqEaUBo"}       |

  .presentation
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed?v=DxwjqNU_OgA"}       |

  .presentation
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed?v=AZn0Ql9vAsQ"}       |

  .presentation
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed?v=aggWxBQGgNs"}       |

  .presentation
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed?v=8BBM2-ppFI8"}       |

  .presentation
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed?v=LmIB9fwV9tc"}       |
    
  .presentation
    %p.caption Cleanweb's Blake Burris and Blue Phoenix's John Licata #FutureEnergy Hangout
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed/l6NEWYw5ZwI"}         |

  .presentation
    %p.caption Nicholas Eisenberger speaking at TechFutures on June 18, 2013
    %iframe{allowfullscreen: 'yes',                             |
            height: "315",                                      |
            width: "560",                                       |
            src: "//www.youtube.com/embed/0RqFuPN3c-E?rel=0"}   |

  .presentation
    %p.caption NYC Big Apps Cleanweb Organizing Team Hangout
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed/a3F2vptopTg"}         |    

  .presentation
    %p.caption Cleanweb Branding Hangout
    %iframe{allowfullscreen: 'yes',                             |
            src: "//www.youtube.com/embed?v=l8NLLrOcdX0"}       |    
