Cleanweb Demo Day at
%a{:href => "http://www.starthouston.com", :target => "_blank"} START Houston
(August 2013)

%a{:href => "http://www.youtube.com/watch?v=ETem91S9-1o", :target => "_blank"} http://www.youtube.com/watch?v=ETem91S9-1o
%a{:href => "http://www.youtube.com/watch?v=3Y0WqqEaUBo", :target => "_blank"} http://www.youtube.com/watch?v=3Y0WqqEaUBo
%a{:href => "http://www.youtube.com/watch?v=DxwjqNU_OgA", :target => "_blank"} http://www.youtube.com/watch?v=DxwjqNU_OgA
%a{:href => "http://www.youtube.com/watch?v=AZn0Ql9vAsQ", :target => "_blank"} http://www.youtube.com/watch?v=AZn0Ql9vAsQ
%a{:href => "http://www.youtube.com/watch?v=aggWxBQGgNs", :target => "_blank"} http://www.youtube.com/watch?v=aggWxBQGgNs
%a{:href => "http://www.youtube.com/watch?v=8BBM2-ppFI8", :target => "_blank"} http://www.youtube.com/watch?v=8BBM2-ppFI8
%a{:href => "http://www.youtube.com/watch?v=LmIB9fwV9tc", :target => "_blank"} http://www.youtube.com/watch?v=LmIB9fwV9tc

Cleanweb's Blake Burris and Blue Phoenix's John Licata #FutureEnergy Hangout
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/l6NEWYw5ZwI", :width => "420"}
Nicholas Eisenberger speaking at TechFutures on June 18, 2013
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/0RqFuPN3c-E?rel=0", :width => "560"}
NYC Big Apps Cleanweb Organizing Team Hangout
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/a3F2vptopTg", :width => "420"}
Cleanweb Branding Hangout

%a{:href => "http://www.youtube.com/watch?v=l8NLLrOcdX0", :target => "_blank"} http://www.youtube.com/watch?v=l8NLLrOcdX0
