%h4
  There are several ways your company can play a role in the Cleanweb movement. We are looking
  for sponsors at local and global levels to join us, in the following categories.

%br/
%hr/

.row
  .col-md-3
    %h4{:style => "color: #8e8a6e;"} PLATINUM
    Have your brand and identity prominently displayed at all Cleanweb events and through online channels, participate as judges, speakers at events.

  .col-md-3
    %h4{:style => "color: #8c8135;"} GOLD
    Prominent logo display at events and online channels.

  .col-md-3
    %h4{:style => "color: #696969;"} SILVER
    Creative use of targeted positioning, delivering your message to your specific audience.

  .col-md-3
    %h4 DATA
    Got data?  Wanna share?  We are always on the look-out for interesting data sets and partners to round out our Datasets and APIs.

%hr/
%a{:href => "mailto:sponsorops@cleanweb.co?subject=Sponsorship Inquiry"} Contact us to find out about opportunities in promoting your organization and enabling the Cleanweb movement!
