.row
  .col-sm-4
    %h4
      %strong 1/
      So, You Want to Build a Cleanweb Community?
    Hopefully you have some experience with community-building activities like hosting meetups or hackathons, but it’s not essential - as long as you are passionate (and organized) about building the cleanweb in your city or town.

  .col-sm-4
    %h4
      %strong 2/
      A Cleanweb Community Is...
    A local ecosystem of entrepreneurs, developers, designers and ideas people interested in finding innovative ways to solve resource resource challenges using IT.

  .col-sm-4
    %h4
      %strong 3/
      Why We’re Building Communities
    Because the people demanded it! In fact, we don’t build the communities - you do. The cleanweb movement is spreading virally around the world and enthusiasts are looking to connect with and inspire others. Communities exist to bounce around ideas, develop hunches, and to catalyze innovation.

.row
  .col-sm-4
    %h4
      %strong 4/
      Who Can Build a Community?
    YOU CAN! But the toolbelt for a Community Builder can be a bit heavy. The role requires a serious commitment of time and energy over a period of months to get started.

  .col-sm-4
    %h4
      %strong 5/
      Your responsibilities may look like...
    Building a core membership base (at least 10), evangelizing the #cleanweb through social media, organizing local meetups with speakers and a growing membership, organizing local in-person events hosting meetups, hackathons, demo days, or any other creative way to you can imagine to connect your community (dream big, we do)!

  .col-sm-4
    %h4
      %strong 6/
      Review The Legal Mumbo Jumbo
    As with any organization, we ask that you review and agree to the specificifications of your role in building a vibrant Cleanweb community in your city. This ensures the discovery and placement of high quality community builders, maximizing value for you and the rest of the local and global Cleanweb Community.

.row
  .col-sm-4
    %h4
      %strong 7/
      Are You Ready to Get Started?
    So you’ve made it this far and you’re drinking the kool-aid? Now you should review and complete the the application linked below. This form will help us understand your background, interests and fit for a local leadership position. We ask that you fill out the app as clearly as possible; this is step one in finding the next great community builder!

  .col-sm-4
    %h4
      %strong 8/
      Then Let's Go!
    %a.btn.btn-default.btn-large.orange{:link => "https://docs.google.com/spreadsheet/viewform?formkey=dFFrZGZDUTFQdEVDeVdxNTY1a2NVWkE6MQ"} Community Application - Apply Now
